.forms {
  background-color: white;
  max-width: 50%;
  width: 100%;
  margin: 0 auto;
  min-height: 15rem;
  z-index: 2;
  position: relative;
  top: -4rem;
  border-radius: 0.4rem;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.247);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.forms > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.9rem;
}

.forms > div > label {
  font-size: 0.9rem;
  font-weight: bold;
}

.forms > div > input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.308);
}

.forms > input {
  width: 11rem;
  border-radius: 0.4rem;
  height: 2.4rem;
  border: none;
  outline: none;
  background-color: #01008c;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
