.form__container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.6rem;
  height: 80%;
  align-items: center;
}

.form__container > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 3rem;
}

.form__container > div > :where(input, select) {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.432);
  border-radius: 0.4rem;
  font-size: 0.9rem;
  padding: 0.5rem 0.2rem;
}

.form__container > div > label {
  font-size: 0.9rem;
  font-weight: bold;
}
